@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 13px;
    font-weight: 800px;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* header start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the last value (0.7) for opacity */
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .logo{
    max-width: 75px;
    max-height: 75px;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 50%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

/* Home Page */
#hero {
    background-image: url("img/fotoJuan.png");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
    color: white;
}

#hero h2{
    color: #ffffff;
}

#hero h1{
    color: #3d09a5;
}

#hero .text-gerak{
    color: #ffffff;
    padding-bottom: 10px;
}

#hero .text-gerak::after {
    content: '|';
    animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}
#hero button:hover{
    background-color: #0a988f;
    color: #fff;
}

.logo-container{
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

.logo-container ion-icon {
    font-size: 24px; /* Adjust the size as needed */
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 100px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    padding: 10px 0;
}

#product1 .pro .des{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#product1 .pro .des ion-icon{
    font-size: 50px;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow #logo-insta{
    color: #465b52;
    padding-right: 10px;
    cursor: pointer;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* media query */
@media (max-width: 799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -250px;
        height: 100vh;
        width: 250px;
        background-color: white;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.4s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }


    #hero {
        height: 90vh;
        padding: 0 10px;
        background-position: top 30% right 10%;
    }

    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro{
        margin: 15px;
    }


}

@media (max-width: 477px) {
    #header {
        padding: 10px 30px;
    }

    h1{
        font-size: 38px;
    }

    h2{
        font-size: 32px;
    }

    #hero{
        padding: 0 20px;
        background-position: 95%;
    }

    #product1 .pro{
        min-width: 250px;
    }

    .section-p1{
        padding: 15px 10px;
    }

    .section-p1 .copyright{
        text-align: center;
    }

    #hero .button-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}